.slider-nav a:hover { background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-active.png', sizingMethod='image'); }
.slider-nav a.active { background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-active.png', sizingMethod='image'); }
.slider-nav a { background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-normal.png', sizingMethod='image'); }
.slider-nav a:hover { background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/images/slider-active.png', sizingMethod='image'); }

#navigation ul ul {
	width: 150px;
}	
#navigation ul ul li {
	display: inline !important;
	float: left !important;
	width: 100%;
	padding: 0px !important;
}